body {
    background-color: black;
}

h1 {
    color: MediumSeaGreen;
    margin-bottom: 2px;
}

.Tools {
    color: White;
    float: left;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

p {
    color: MediumSeaGreen;
}

Section {
    height: 350px;
}

button {
  background-color: MediumSeaGreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}